/*  */
body{
  background-color: darkgray
}

.Header {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: center;
  height: 150px;
  background-color: black;
  color: white;
  font-size: 30px;
}

.images{
  height: 150px;
  width: 150px;
}

.product_table {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.product_cell {
  height:500px;
  width:400px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  font-size: 15px;
}
